@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    COLOR PALETTE:
    #252422
    #f9cdcd
    #f4f4f4
    #222020

    #f9cdcdff - pink text color
    #252422ff - bg color

    FOOTER COLORS
    #252422
    #191918
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.0095em;
  font-size: 0.96615em;
  vertical-align: baseline;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f4f4f4;
  color: #252422ff;
  transition: color 0.65s cubic-bezier(0.72, 0, 0.28, 1),
    background-color 0.65s cubic-bezier(0.72, 0, 0.28, 1);
  overflow-x: hidden;
}

.text-blend {
  mix-blend-mode: difference;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.75;
  visibility: visible;
  z-index: 10;
  pointer-events: none;
}

.styleButton:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: black;
  transform: translateY(100%);
  transition: transform 0.35s ease-in-out;
}

.styleButton:hover::after {
  transform: translateY(0%);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
/* 
  ///// NAV STYLES /////
*/
.navItem:after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 1.25px;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  mix-blend-mode: difference;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* 
  /////
*/

/* 
  ///// HERO STYLES /////
*/
.heroCta:after {
  content: "ADV/MNSTRY®";
  position: absolute;
  top: 105%;
  left: 0;
  color: white;
  width: 100%;
  height: 1rem;
}

/* 
  ///// AWARDS STYLES /////
*/
.awardAnchor {
  @apply inline-flex w-full flex-col justify-center items-center decoration-2 hover:underline;
}
.awardFigure {
  @apply sm:w-[75%] md:w-[55%] lg:w-[40%] min-h-[50px] md:min-h-[8vw] transition-transform ease-in-out hover:scale-[1.05] flex items-center;
}

/* 
  ///// ABOUT STYLES /////
*/
.aboutScroll::-webkit-scrollbar {
  display: none;
}

.aboutScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about-li {
  cursor: pointer;
}

.about-li:hover h2 {
  @apply underline;
}

.about-li:hover figure > video {
  @apply scale-[1];
}

.about-li:hover figure > img {
  @apply scale-[1];
}

.about-h2 {
  @apply text-[1.5em] md:text-[2em] font-semibold;
}

.aboutSpan {
  @apply text-[0.8em] lg:text-[0.965em] uppercase leading-tight font-medium;
}

/* 
  ///// ENGAGEMENT STYLES /////
*/
.list::-webkit-scrollbar {
  width: 100%;
  height: 0.2em;
}

.list::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

/* 
  ///// NEWS STYLES /////
*/
.newsItem:hover > div > h1 {
  text-decoration: underline;
}

.newsItem:hover > .test {
  @apply scale-[1.05] hover:scale-100 transition-transform duration-300;
}

.newsArrow:hover {
  animation: arrowAnim 1.5s linear forwards;
}

.newsItem:hover > div > figure > div > .arrowSvg1 {
  animation: arrowAnim 175ms ease-in-out forwards;
  animation-delay: 225ms;
}

.newsItem:hover > div > figure > div > .arrowSvg2 {
  animation: arrowAnim 175ms ease-in-out forwards;
}

@keyframes arrowAnim {
  100% {
    transform: translateX(0);
  }
}

/* 
  ///// FOOTER STYLES /////
*/

.footer_header::before {
  margin-right: 0.5em;
  content: "●";
  font-size: 1.4rem;
}

.footer_input:focus {
  outline: none;
}

.footer_input::placeholder {
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #f4f4f4;
}

.footer_input_div::after {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: currentcolor;
  content: "";
  transform: scaleY(0.3);
  transform-origin: 50% 0;
  transition: transform 0.25s var(--ease-garret);
}

.footer_input_div:focus-within::after {
  transform: scaleY(0.6);
}

.footer_svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentcolor;
}