@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    COLOR PALETTE:
    #252422
    #f9cdcd
    #f4f4f4
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.0095em;
  font-size: 0.96615em;
  vertical-align: baseline;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f4f4f4;
  color: #252422ff;
  transition: color 0.65s cubic-bezier(0.72, 0, 0.28, 1),
    background-color 0.65s cubic-bezier(0.72, 0, 0.28, 1);
  overflow-x: hidden;
}

.text-blend {
  mix-blend-mode: difference;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.75;
  visibility: visible;
  z-index: 10;
  pointer-events: none;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
/* 
  ///// NAV STYLES /////
*/
.navItem:after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 1.25px;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  mix-blend-mode: difference;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* 
  /////
*/

/* 
  ///// HERO STYLES /////
*/
.heroCta:after {
  content: "ADV/MNSTRY®";
  position: absolute;
  top: 105%;
  left: 0;
  color: white;
  width: 100%;
  height: 1rem;
}

/* 
  ///// AWARDS STYLES /////
*/
.awardAnchor {
  @apply inline-flex w-full flex-col justify-center items-center decoration-2 hover:underline
}
.awardFigure {
  @apply sm:w-[75%] md:w-[55%] lg:w-[40%] min-h-[50px] md:min-h-[8vw] transition-transform ease-in-out hover:scale-[1.05] flex items-center
}

/* 
  ///// ABOUT STYLES /////
*/
.aboutButton:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: black;
  transform: translateY(100%);
  transition: transform 0.35s ease-in-out;
}

.aboutButton:hover::after {
  transform: translateY(0%);
}

.aboutScroll::-webkit-scrollbar {
  display: none;
}

.aboutScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about-li {
  cursor: pointer;
}

.about-li:hover h2 {
  @apply underline
}

.about-li:hover figure> video {
  @apply scale-[1]
}

.about-li:hover figure> img {
  @apply scale-[1]
}

.about-h2 {
  @apply text-[1.5em] md:text-[2em] font-semibold
}

.aboutSpan {
  @apply text-[0.8em] lg:text-[0.965em] uppercase leading-tight font-medium
}